body {
	background-color: #E3BC95;
	font-family: helvetica, sanserif;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.lib-wrapper {
	position: relative;
	z-index: 5;
	top: 120px;
	width: auto;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-wrapper {
	position: relative;
	margin: 40px;
	background-color: #88911A;	
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	align-items: center;
	justify-content: center;
	box-shadow: 12px 4px 1px #2F2B20;
	color: #F6DEC4;
	border: 1px solid #2F2B20;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
}

nav {
	position: fixed;
	z-index: 10;
	top: 0px;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	background-color: #2F2B20;
	box-shadow: 3px 3px 2px #F6DEC4;
	align-items: center;
	justify-content: center;
}

nav p {
	position: relative;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	min-width: 600px;
	text-shadow: 2px 2px 1px olive;
	margin-bottom: 5px;
}

nav i {
	font-size: 30px;
}

nav button {
	position: relative;
	background-color: #2F2B20;
	border: none;
	margin-top: 5px;
	height: 40px;
	width: 40px;
}

nav button img {
	height: 40px;
	width: auto;
}

#addBtn img:hover {
	border-radius: 25px;
	background-color: white;
}

.card-button {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	width: 80px;
	height: 50px;
	bottom: 5px;
}

.read {
	position: relative;
	background-color: gray;
	color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

.read:hover {
	border: 2px solid white;
}

.unread {
	position: relative;
	background-color: white;
	color: black;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

.unread:hover {
	border: 2px solid black;
}

.card-title {
	position: relative;
	grid-area: a;
	width: 200px;
	height: 100px;
	font-size: 22px;
	text-decoration: underline;
	text-align: center;
	align-self: flex-end;
}

.card-author {
	position: relative;
	grid-area: b;
	width: 200px;
	height: 50px;
	font-size: 18px;
	text-align: center;
}

.card-pages {
	position: relative;
	grid-area: c;
	width: 200px;
	height: 50px;
	font-size: 18px;
	text-align: center;
}

.card-read-status {
	position: relative;
	grid-area: d;
	margin-bottom: 0px;
	height: 25px;
	padding: 10px;
	text-align: center;
}

.modal_box {
	display: none;
	position: fixed;
	flex-direction: column;
	height: 400px;
	width: 400px;
	background-color: #F6DEC4;
	border: 1px solid gray;
	font-weight: bold;
	z-index: 10;
}

.modal_box form {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: center;
	line-height: 20px
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	margin: 12px;
	width: 350px;
	font-size: 18px;
}

#check {
	position: relative;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 1px #2F2B20;
}

.modal_box img {
	height: 50px;
	width: 50px;
}

.modal_box button {
	background-color: #F6DEC4;
	border: none;
}

#add-book img:hover {	
	border-radius: 25px;
	background-color: black;
}

#close-box img:hover {
	border-radius: 25px;
	background-color: maroon;
}

#btn-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}

.modal_box h3 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
	margin-top: 10px;
	font-size: 20px;
	box-shadow: 0px 1px 1px #2F2B20;
}

#read {
	text-align: center;
}

.modal_box input {
	box-shadow: 1px 1px 1px #2F2B20;
	margin: 5px;
	padding: 3px;
}

.modal_box input:hover {
	border: 2px solid forestgreen;
}
